#about .article-style p{
    text-align: left !important;
}

.page-footer .container .site-footer{
    margin-top: 0.5em;
}

.cta-group {
    margin-bottom: 0;
}

#twitter-threads .mb-0 p {
    display: none;
}